body{
    background: url('./images/black.jpg');
    background-size: cover;
}
.container{
    color: maroon;
    width: 100vw;
}
form{
    background-color: rgb(234, 238, 248);
    position: center;
}
h6{
    color: rgb(44, 42, 42);
}
