body {
	background: url('./images/baskets-clean-color-cotton-271711.jpg');
   background-size: cover;
}

#img_logo{
	max-width: 100px;
	max-height: 100px;
	margin: 0 auto;
}
.container{
	background-color: rgb(175, 190, 196);
	width: 30vw;
	height: 55vh;
	margin-top: 10%;
}
span{
	width: 30vw;
	color: ivory;
	font-family: Georgia;
}
